.food-dispaly
{
    margin-top: 30px;
    align-items: center;
}

.food-dispaly h2
{
    font-size:max(2vw , 24px);
    font-weight: 600;
}


.food-display-list
{
display: grid;
grid-template-columns: repeat(auto-fill , minmax(240px , 1fr));
margin-top: 30px;
gap: 30px;
row-gap: 50px;
}

.read-more-btn
{
    margin-top: 20px;
    background: tomato;
    font-size: 16px;
    color: white;
    border: 1px solid tomato;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.read-more-btn:hover
{
    transform: translateY(-5px);
}
